{% extends "layout.html" %}
{% block main %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="static/js/cycle_through_words.js"></script>
    </head>
    <body class="antialiased text-slate-500 dark:text-slate-400 bg-white dark:bg-slate-900 h-full" style="background:rgb(15 23 42)">
    <div class="align-middle justify-center h-full py-10" style="width:50%; margin: auto;">
        <div class="text-center">
            <h1 class="text-9xl font-bold text-white">
                <span id="word">WorldInfo</span>
            </h1>
            <br>
            <h2 class="text-2xl font-bold">
                <span id="definition">Learn all about the countries of the world and so much more! From getting up to date COVID 19 info to getting a historic event on this day, WorldInfo has you covered.</span>
            </h2>
            <br>
            <h3 class="text-xl font-bold">
                <span id="definition">
                    <a href="{{ url_for('dashboard') }}">
                        <span class="text-white md:hover:text-blue-700">Try it out!</span>
                    </a>
                </span>
            </h3>

        </div>
    </div>
    <div class="text-center align-middle">
        <h1 class="text-7xl font-bold text-white">
            <span id="word">On This Day</span>
        </h1>
        <br>
        <h2 class="text-2xl font-bold" id="cycle">
        </h2>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="align-middle text-center justify-center">
        <h1 class="text-7xl font-bold text-white ">Features</h1>
    </div>
    <br>

  <div class="p-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-5">
    <div class="float-left justify-center">
  <div class="rounded-lg shadow-lg bg-white max-w-sm">
    <a href="#!">
      <img class="rounded-t-lg" src="/static/images/covid.jpeg" alt=""/>
    </a>
    <div class="p-6">
      <h5 class="text-gray-900 text-xl font-medium mb-2">COVID 19</h5>
      <p class="text-gray-700 text-base mb-4">
         Worldinfo provides up-to-date COVID information <br> about the world and individual countries. We use informative graphs<br> and important statistics to show accurate COVID-19 info.
      </p>
        <a href="/covid19"><button type="button" class=" inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Button</button></a>
    </div>
  </div>
</div>
    <!--Card 2-->
    <div class="float-right lex justify-center">
  <div class="rounded-lg shadow-lg bg-white max-w-sm">
    <a href="#!">
      <img class="rounded-t-lg" src="/static/images/flags.png" alt="" style="object-fit: cover"/>
    </a>
    <div class="p-6">
      <h5 class="text-gray-900 text-xl font-medium mb-2">Country Data</h5>
      <p class="text-gray-700 text-base mb-4">
        Worldinfo provides up-to-date information (population, currency, borders, gdp, etc.) <br>about the all the countries in the world
      </p>
        <a href="/dashboard">
            <button type="button" class=" inline-block px-6 py-2.5 bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Button</button>
        </a>
    </div>
  </div>
</div>
</div>

</body>
</html>

{% endblock %}